* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    color: rgb(160, 155, 155);
}
.container {
    width: 800px;
    height:670px;
    padding-top: 50px;
    background-image: linear-gradient(90deg, rgb(86, 100, 185) , rgb(44, 143, 163));
}
.block {
    display: block;
    
}
.NY {
    padding-left: 19px;
}
form {
    width: 400px;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
    height: 620px;
}
input {
    /* margin: auto; */
    width: 300px;
    margin-left: 70px;
    border-width: 0px;
    background-color: rgb(250, 250, 250);
}
label {
    padding-left: 70px;
    font-size: 10px;
    padding-top: 20px;
}
.plavo {
    background-color: rgb(33, 150, 243);
    height: 110px;
    color: white;
    display: flex;
    align-items: center;
}
.load {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .3);
    color: grey;
   display: flex;
    align-items: center;
    justify-content: center;
}
hr {
    width: 75%;
    margin: 8px 0 30px 70px;
  }
  p {
      padding-left: 70px;
      padding-top: 20px;
      font-size: 18px
  }
  .radio {
    width: 13px;
    /* display: block; */
  }
  h4 {
    padding-left: 19px;
  }
  button {
      background-color: rgb(69, 69, 212);
      color: white;
      border-width: 0px;
      width: 100px;
      height: 30px ;
      border-radius: 10px;
      margin-top: 30px;
      margin-left: 150px;
  }
